{% extends "base.html" %}
{% load custom_filters %}

{% block title %}Ingredients{% endblock %}

{% block content %}
    <h2>Ingredients for {{ bakery.name }}</h2>
    <a href="{% url 'add_ingredient' bakery.id %}" class="btn btn-success float-right">Add Ingredient</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Unit Type</th>
                <th>Cost</th>
                <th>Cost per Unit</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in ingredients %}
            <tr>
                <td>{{ ingredient.name }}</td>
                <td>{{ ingredient.quantity }}</td>
                <td>{{ ingredient.unit }}</td>
                <td>{{ ingredient.cost }}</td>
                <td>{{ ingredient.cost|div:ingredient.quantity }}</td>
                <td>
                    <a href="{% url 'edit_ingredient' bakery.id ingredient.id %}" class="btn btn-primary">Edit</a>
                    <a href="{% url 'delete_ingredient' bakery.id ingredient.id %}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
